
@{
    ViewData["Title"] = "AdminPage";
    Layout = "_my_layout";
}

<h1>AdminPage</h1>


<div>


    <div class="btn btn-outline-success">

        <a asp-action="Logout" asp-controller="Account">
            Logout
        </a>
    </div>
    <div class="btn btn-outline-danger">

        <a asp-action="Logout" asp-controller="Account">
            Logout
        </a>
    </div>

</div>