@{
    ViewData["Title"] = "OwnerPage";
    Layout = "_my_layout";
}
<link href="~/css/adminpage/products.css" rel="stylesheet" />
<h1 style="text-align:center;margin-bottom:2px;">Good Day,@User?.Identity?.Name!</h1>
<p style ="text-align:center;color:gray">Here's what's updating with your e-shop today</p>

<div class="container" style="height:600px;">

    <div style="flex-basis:15%">

    </div>
    <partial name="_SideNavBar" />
  
   

</div>


