@using Ecomerce.ViewModels;
@model ProductIdAndName
@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align:center;" class="text-danger">Are You shure want to DELETE</h1>


<form method="post" asp-action="Delete" style="display:flex;flex-direction:column;align-items:center;justify-content:center;justify-content:space-around;padding:2rem;">
    <label asp-for="@Model.productId">Product ID</label>
    <input readonly type="text" name="productId" value="@Model.productId" class="form-control" style="width:30%" />
    <label asp-for="@Model.ProductName">Product Name</label>
    <input readonly type="text" name="ProductName" value="@Model.ProductName" class="form-control" style="width:30%" />

    <input style="margin-top:1rem;" type="submit" value="Delete" class="btn btn-danger"/>
</form>

