
@{
    ViewData["Title"] = "AddAdmin";
}

<h1 style="text-align:center">AddAdmin</h1>

<div>
    <label for="Admin_reg_link" class="form-label">Admin registeration link</label>
    <input class="form-control" name="Admin_reg_link" type="text" value="https://localhost:7280/Account/AdminRegisteration" />
</div>
