
<link href="~/css/_css/_sidenavbar.css" rel="stylesheet" />
<nav class="navbar">
    <ul class="navbar__menu">
        <li class="navbar__item">
            <a asp-action="OpenAccount" asp-controller="Account" class="navbar__link"><i class="fas fa-home"></i><span>DasHBoard</span></a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link"><i class="far fa-envelope"></i><span>Messages</span></a>
        </li>
        <li class="navbar__item">
            <a asp-controller="Admin" asp-action="Customers" class="navbar__link"><i class="fas fa-users"></i><span>Customers</span></a>
        </li>
        <li class="navbar__item">
            <a asp-controller="Admin" asp-action="Orders" class="navbar__link"><i class="fas fa-shopping-cart"></i><span>orders</span></a>
        </li>
        <li class="navbar__item">
            <a asp-controller="Admin" asp-action="Products" class="navbar__link"><i class="far fa-folder"></i><span>Products</span></a>
        </li>
        <li class="navbar__item">
            <a asp-controller="Admin" asp-action="HR" class="navbar__link"><i class="fas fa-archive"></i><span>HR</span></a>
        </li>
        <li class="navbar__item">
            <a asp-controller="Home" asp-action="Help" class="navbar__link"><i class="far fa-question-circle"></i><span>Help</span></a>
        </li>
        <li class="navbar__item">
            <a asp-action="Logout" asp-controller="Account" class="navbar__link"><i class="fas fa-sign-out-alt"></i><span>LogOut</span></a>
        </li>
    </ul>
</nav>